# Ryu OpenFlow Control REST API URL
RYU_OFCTL_REST_URL=http://localhost:8080

# Where to expose MCP server (and configure Poke tunnel connection)
MCP_HOST=localhost
MCP_PORT=8000
POKE_TUNNEL_ENABLED = "true"
OVSDB_ADDR = "tcp:127.0.0.1:6640"
OPENAI_API_KEY = "your_open_ai_key" #For PydanticAI
